@model BugTracker.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h3>Change your account settings</h3>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    
    <hr />
    <dl class="dl-horizontal">
       
        <dd>

            @if (Model.HasPassword)
            {
                <div>
                @Html.ActionLink("Change your password", "ChangePassword", "Manage", null, new { @class = "btn btn-success" })
                </div>
                <br />
                @Html.ActionLink("Change your Display Name", "ChangeDisplayName", "Manage", null, new { @class = "btn btn-success" })

            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }

            </dd>


            </dl>
            </div>
